.monthBox {
    /* Rectangle 1 */
    position: relative;
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(205.81deg, #25F53A 0%, #555CFF 100%);
}

.monthTxt {
    /* Avril */
    letter-spacing: 0.17em;
    color: #ffffff;
    transform: rotate(-90deg);
}

.dayBox {
    /* Rectangle 3 */
    position: relative;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0.41) 100%);
    backdrop-filter: blur(25px);
    /* Note: backdrop-filter has minimal browser support */
    margin: auto 0;
    padding: 10px 20px;
    box-sizing: border-box;
}



.dayTxt {
    /* Mercredi */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
    display: block;
}

.dateTxt {
    /* 24 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #000000;
}

.timeCheck {
    /* Matin */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #787878;
}

.liTxt {
    /* Télétravail */
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    color: #5A3A3A;
}