.container {
  /* Rectangle 2 */
  /* Rectangle 2 */
  z-index: 5;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  background: white;
  opacity: 0.95;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
}