.App {
    width: 100%;
    margin: 0 auto;
}

.drag-container {
    text-align: center;
}

.head {
    background-color: #CCCCCC;
}

.droppable {
    width: 200px;
    background-color: #9E9E9E;
}

.draggable {
    width: 100px;
    background-color: yellow;
    margin: 10px auto;
}

.inProgress {
    width: 200px;
    background-color: #EEEEEE;
}