.customSelect {
    background: #FFFFFF;
    outline: none;
    /* Shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
    border-radius: 8px;
    padding: 4px 8px 4px 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.remindersBoxShadow{
    border: 1px solid #E6E5E5;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media screen and (max-height:1400px) {
    .customHeight{
        height: 1000px;
    }
}
@media screen and (max-height:1200px) {
    .customHeight{
        height: 800px;
    }
}
@media screen and (max-height:1000px) {
    .customHeight{
        height: 700px;
    }
}
@media screen and (max-height:900px) {
    .customHeight{
        height: 600px;
    }
}


@media screen and (max-height:800px) {
    .customHeight{
        height: 550px;
    }
}

@media screen and (max-height:760px) {
    .customHeight{
        height: 500px;
    }
}


