.chartSelect {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.editCollaboratorForm {
    background: linear-gradient(168.04deg, rgba(255, 255, 255, 0.8) -9.27%, rgba(255, 255, 255, 0.2) 100%);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(21px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
}