@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  margin: auto;
}

.recharts-cartesian-axis-tick {
  font-family: "Poppins";
}

.side-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 30px;
  height: 80px;
  background: #49a197;
  transform: perspective(10px) rotateY(10deg);
}

.side-panel-content {
  transform: perspective(10px) rotateY(-10deg);

}

.box-shadow-style {
  /* Shadow */
  padding: 4px 8px 4px 12px;
  box-shadow: 0px 2px 10px rgba(124, 141, 181, 0.12);
  border-radius: 8px;
}

.big-box {
  /* Drop-shadow */
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-appearance: none;
  background: #0096AD;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}